<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Geolocation</title>
</head>
<body>
    <h1>IP Geolocation Information</h1>
    <ul>
        <li><strong>Continent:</strong> {{ continent_name }}</li>
        <li><strong>Country:</strong> {{ country_name }}</li>
        <li><strong>ISP:</strong> {{ isp }}</li>
        <li><strong>Cached:</strong> {{ cached }}</li>
        <li><strong>API Server:</strong> {{ apiServer }}</li>
        <li><strong>API Server Version:</strong> {{ apiServerVersion }}</li>
        <li><strong>Frontend Server Version:</strong> {{ frontendServerVersion }}</li>
        <li><strong>Host:</strong> {{ hostname }}</li>
    </ul>
</body>
</html>
